/* BG */
body {
  overflow-y: hidden;
}

.siteManha:root{
  background-image: url(./img/Reg-site-manha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  --form-bgcolor:#42eeffc9;
  --font-textcolor:black;
  --bglinear:linear-gradient(to right,#0404ea,#00c7ff,#32c1ff,#03bccf)
  --bgshadow:0 4px 15px 0 rgba(253, 211, 21, 0.75);
  }
  
  .siteNoite:root{
    background-repeat: no-repeat;
    background-size: cover;
  background-image: url(./img/Reg-site-noite.png);
  --form-bgcolor:#cc41ffc9;
  --font-textcolor:white;
  --bglinear: linear-gradient(to right, #ad00b1, #ff00e1, #f100d5,#950197);
  --bgshadow: 0 4px 15px 0 rgb(255 0 224 / 75%);
  }

.registro {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formRegistro {
  background-color: var(--form-bgcolor);
  padding: 5rem;
  border-radius: 4px;
}
/* Nome */
.divLabelNome {
  font-size: 15px;
  font-family: "Helvética", sans-serif;
  font-weight: 600;
  color: var(--font-textcolor);
}

.divNomeBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 350px;
  height: 40px;
  background-color: white;
  margin: 0.1rem 0rem 1rem 0rem;
  border: 1px solid rgb(211 211 211);
}

.divNomeBar:hover{
border-color: rgb(150, 150, 150);
box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
}

.divInputNome {
  height: 25px;
  width: 17.5rem;
  border-style: none;
  padding-right: 1rem;
  font-family: "Helvética", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
/* Nome no Minecraft */
.divNickName {
  font-size: 15px;
  font-family: "Helvética", sans-serif;
  font-weight: 600;
  color: var(--font-textcolor);
}

.divNickNameBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 350px;
  height: 40px;
  background-color: white;
  margin: 0.1rem 0rem 1rem 0rem;
  border: 1px solid rgb(211 211 211);
}

.divNickNameBar:hover{
  border-color: rgb(150, 150, 150);
  box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
  }

.divInputNickName {
  height: 25px;
  width: 17.5rem;
  border-style: none;
  padding-right: 1rem;
  font-family: "Helvética", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* Email */
.divEmail {
  font-size: 15px;
  font-family: "Helvética", sans-serif;
  font-weight: 600;
  color: var(--font-textcolor);
}

.divEmailBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 350px;
  height: 40px;
  background-color: white;
  margin: 0.1rem 0rem 1rem 0rem;
  border: 1px solid rgb(211 211 211);
}

.divEmailBar:hover{
  border-color: rgb(150, 150, 150);
  box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
  }

.divInputEmail {
  height: 25px;
  width: 17.5rem;
  border-style: none;
  padding-right: 1rem;
  font-family: "Helvética", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* Confirmar Email */
.divCEmail {
  font-size: 15px;
  font-family: "Helvética", sans-serif;
  font-weight: 600;
  color: var(--font-textcolor);
}

.divCEmailBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 350px;
  height: 40px;
  background-color: white;
  margin: 0.1rem 0rem 1rem 0rem;
  border: 1px solid rgb(211 211 211);
}

.divCEmailBar:hover{
  border-color: rgb(150, 150, 150);
  box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
}

.divInputCEmail {
  height: 25px;
  width: 17.5rem;
  border-style: none;
  padding-right: 1rem;
  font-family: "Helvética", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* Senha */
.divSenha {
  font-size: 15px;
  font-family: "Helvética", sans-serif;
  font-weight: 600;
  color: var(--font-textcolor);
}

.divSenhaBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 350px;
  height: 40px;
  background-color: white;
  margin: 0.1rem 0rem 1rem 0rem;
  border: 1px solid rgb(211 211 211);
}

.divSenhaBar:hover{
  border-color: rgb(150, 150, 150);
  box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
}

.divInputSenha {
  height: 25px;
  width: 17.5rem;
  border-style: none;
  padding-right: 1rem;
  font-family: "Helvética", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* Confirmar Senha */
.divCSenha {
  font-size: 15px;
  font-family: "Helvética", sans-serif;
  font-weight: 600;
  color: var(--font-textcolor);
}

.divCSenhaBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 350px;
  height: 40px;
  background-color: white;
  margin: 0.1rem 0rem 1rem 0rem;
  border: 1px solid rgb(211 211 211);
}

.divCSenhaBar:hover{
  border-color: rgb(150, 150, 150);
  box-shadow: 0px 1px 2px rgba(172, 172, 172, 0.75);
}

.divInputCSenha {
  height: 25px;
  width: 17.5rem;
  border-style: none;
  padding-right: 1rem;
  font-family: "Helvética", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* Termos */
.divTermos {
  padding-bottom: 1.2rem;
}

.linkTermos {
  font-family: "Helvética", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgb(32, 32, 32);
}

.linkTermos:hover {
  color: rgb(0, 84, 211);
}
/* Botao Registrar  */
.divBotaoRegistrar {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.BotaoRegistrar {
  background-image: var(--bglinear);
  box-shadow: var(--bgshadow);
  cursor: pointer;
  font-family: "Helvética", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: white;
  border: none;
  width: 210px;
  height: 50px;
  letter-spacing: 1px;
  background-size: 300% 100%;
  border-radius: 20px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.BotaoRegistrar:hover {
  outline: none;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
  transform: scale(0.98);
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/*  Ja sou um treinador Pokemon  */
.divLogin{
display: flex;
justify-content: center;
}
.linkLogin {
  cursor: pointer;
  color: rgb(6 8 151);
}
.spanLogin {
  font-family: "Helvética", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.linkLogin:hover{
  color: rgb(74 114 255);
  text-shadow: 1px 1px #647cff;
}

/* Icons */
.divImgIcon {
  width: 24px;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
}

.uil-user {
  font-size: 24px;
  padding-left: 0.3rem;
}
.uil-lock {
  font-size: 24px;
  padding-left: 0.3rem;
}

.uil-at {
  font-size: 24px;
  padding-left: 0.3rem;
}

div.focoAtual{
  border-color: black;
}